<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/books/<%=id%>/?_method=PATCH" >
        <input type="text" value="<%= book.name %>" name="name">
        <input type="number" value="<%= book.price %>" name="price">
        <input type="text" value="<%= book.genre %>" name="genre">
        <input type="number" value="<%= book.stock %>" name="stock">

        <button type="submit">Edit Book</button>
    </form>
    
</body>
</html>